/* src/components/ProfileSidebar.css */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: #444;
  color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.sidebar.open {
  transform: translateX(0);
}

.close-button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 1rem;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-item i {
  margin-right: 0.5rem;
}

.sidebar-item:hover {
  background-color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.open {
    transform: translateY(0);
  }
}