:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f4f4f4;
  --font-family: 'Arial, sans-serif';
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  color: var(--primary-color);
}
